* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #f3eae3;
}
.div-1 {
  background-color: white;
  margin: 115px auto;
  width: 735px;
  display: flex;
  flex-direction: row;
}
.desktop {
  width: 370px;
}
.photo {
  object-fit: cover;
  width: 365px;
}
.header {
  float: right;
  margin-top: 50px;
  margin-right: 260px;
  font-size: 12px;
  font-family: fraunces;
  color: grey;
  word-spacing: 30px;
}
.infor {
  font-family: Montserrat;
  font-weight: 700;
  height: 20px;
  font-size: 30px;
  float: right;
  width: 250px;
  margin-right: 75px;
  margin-top: 10px;
}
.body {
  font-size: 13px;
  color: grey;
  width: 250px;
  float: right;
  margin-top: 90px;
  margin-right: 75px;
}
.price {
  float: right;
  margin-right: 160px;
  margin-top: 10px;
  font-size: 40px;
  color: green;
}
.former {
  float: right;
  margin-top: -75px;
  margin-right: 85px;
  font-size: 13px;
  color: grey;
}
.graphic {
  width: 365px;
}
